<div class="ui grid padded">
  <div class="ui row">
    <h2 class="ui header">
      Editar Foto
      <div class="sub header"><small>Selecione qual categoria você deseja adicionar uma foto</small></div>
    </h2>
  </div>

  <!-- Tab Menu -->

  <div class="row">
    <div class="ui secondary menu black">
      <%= link_to 'Todos', admin_photos_path, class: 'ui item' %>
      <%= link_to 'Cadastrar Fotos', new_admin_photo_path, class: 'ui item' %>
    </div>
  </div>
</div>

<div class="ui divider horizontal">
  <i class="icon info"></i>
  Formulário
</div>

<%= render 'form' %>

