<%= render 'admin/partials/notice' %>

<div class="ui grid padded">
  <div class="ui row">
    <h2 class="ui header">
      Gerenciamento de Fotos
      <div class="sub header"><small>Selecione qual categoria você deseja adicionar uma foto</small></div>
    </h2>
  </div>
</div>

<% if params[:category_id].present? %>
  <%= render 'show_photos' %>
<% else %>
  <%= render 'show_categories' %>
<% end %>
