<div class="ui grid stackable">
  <div class="ui container">
    <h2 class="ui header">
      Adicionar Foto em categoria
      <div class="sub header"><small>Selecione qual categoria você deseja adicionar uma foto</small></div>
    </h2>
  </div>
</div>

<div class="ui stackable grid">
  <div class="ui divider horizontal">
    <i class="icon alarm"></i>
    Preencha os campos abaixo
  </div>
</div>

<%= render 'form' %>
