.family{
  
  &-dancing-script{
    font-family: 'Dancing Script', Arial, sans-serif;
  }
  
  &-open-sans{
    font-family: 'Open Sans', Arial, sans-serif;
  }
  
  &-pacifico{
    font-family: 'Pacifico', cursive;
  }
}