<div class="ui tab active" data-tab="first">
  <div class="column">
    <%= simple_form_for(@admin_category, html: {novalidate: false, class: 'ui form category'}) do |f| %>
      <%= f.error_notification %>
      
      <div class="field">
        <label>Nome</label>
        <%= f.input :name, label: false %>
      </div>

      <%= f.button :submit, value: 'Salvar', class: '' %>
    <% end %>
  </div><!-- fim column -->
</div><!-- container tab first -->

<% content_for :javascript do %>
<script type="text/javascript">
  $('.ui.form.category').form({
  inline : true,
  on: 'submit',
    fields: {
      empty: {
        identifier  : 'admin_category[name]',
        rules: [
          {
            type   : 'empty',
            prompt : 'Por favor digite o nome da categoria'
          }
        ]
      },
    }
  });
</script>
<% end %>
