<div class="ui grid padded">
  <div class="ui row">
    <h2 class="ui header">
      Adicionar de Categoria
      <div class="sub header"><small>Gerenciamento de Categorias</small></div>
    </h2>
  </div>

  <!-- Tab Menu -->

  <div class="row">
    <div class="ui secondary menu black">
      <%= link_to 'Todos', admin_categories_path, class: 'ui item' %>
      <%= link_to 'Cadastrar Categorias', new_admin_category_path, class: 'ui item active' %>
    </div>
  </div>
</div>

<div class="ui divider horizontal">
  <i class="icon info"></i>
  Formulário
</div>

<%= render 'form' %>
