=  content_for :footer
  .ui.inverted.vertical.footer.segment
    .ui.container
      .ui.stackable.inverted.divided.equal.height.stackable.grid
      
        .three.wide.column
          h4.ui.inverted.header Sobre Mim
          .ui.inverted.link.list
            a.item Entre em Contato
            a.item Sobre Mim
        
        .three.wide.column
          h4.ui.inverted.header Serviços
          .ui.inverted.link.list
            - @categories.map do |c|
              = link_to c.name, '', class: 'item'
          
        .seven.wide.column
          h4.ui.inverted.header Redes Sociais
          p Veja mais de meus trabalhos nas redes sociais
          .ui.inverted.link.list
            a.item Facebook
            a.item Instagram
            a.item Grupo do WhatsApp
