<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Sobre Mim</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Entre em Contato</a>
          <a href="#" class="item">Sobre Mim</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Serviços</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Recém Nascidos</a>
          <a href="#" class="item">Gestantes</a>
          <a href="#" class="item">Newborn</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Redes Sociais</h4>
        <p>Veja mais de meus trabalhos nas redes sociais</p>
        <div class="ui inverted link list">
          <a href="#" class="item">Facebook</a>
          <a href="#" class="item">Instagram</a>
          <a href="#" class="item">Grupo do WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</div>