<% content_for :sidebar do %>
  
  <div class="sidebar-left">
    
    <div class="logo">
      <%= image_tag 'logo_black' %>
    </div>

    <nav class="menu">
      <ul>
        <li><a href="#">Portifolio</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Sobre mim</a></li>
        <li><a href="#">Contatos</a></li>
      </ul>
    </nav>

    <div class="footer">
      <p>Todos os Direitos Reservados</p>
      <p>by <%= image_tag 'logo-dev' %></p>
    </div>

  </div> <!-- sidebar -->
<% end %>