%menu{
  min-height: auto;
  @extend .hidden-xs;

   ul{
    padding-left: 10px;
    padding-right: 10px;

    li{
      list-style: none;
      margin-bottom: 5px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a{
        flex: 0 0 auto;
        padding: 0px 30px;
        
        border: 1px solid white;
        text-decoration: none;
        margin-bottom: 1px;
        color: #333;

        font-size: 25px;
        @extend .family-dancing-script;

        &:hover{
          border: 1px solid #333;
        }
      }
    }
  }
}