
@media only screen and (max-width: 319px){
  .mobile-icon.menu{
    display: block;
  }

  .home{
    .content{
      height: auto !important;
    }
  }
}

@media only screen and (min-width: 320px){
  .home{
    .content{
      height: auto !important;
    }
  }

  .navs-mobile{
    .mobile-icon{
     &.menu{
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .home{
    .content{
      height: 80vh !important;
    }
  }

  .navs-mobile{
    .mobile-icon{
     &.menu{
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: 992px){
  .home{
    .content{
      height: 100vh !important;
    }
  }
}

@media only screen and (min-width: 1280px){
  
}

@media only screen and (min-width: 1920px){
  
}