@media only screen and (max-width: 319px){
  .photos{
    flex-direction: column !important;
  }
}

@media only screen and (min-width: 320px){
  .photos{
    flex-direction: column !important;
  }
}

@media only screen and (min-width: 768px){
  .photos{
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 992px){
  .photos{
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px){
  .photos{
    flex-direction: row;
  }
}

@media only screen and (min-width: 1920px){
  .photos{
    flex-direction: row;
  }
}