/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require semantic
*= require_tree .
*= require_self
*/

@import "admin";
@import "responsive";

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgba(0,0,0,.2);
}

body{
  background: #f9f9f9;
  -webkit-font-smooth: smooth;
  font-smooth: smooth;
}

.site{
  @import "bootstrap";
  @import "bootstrap-sprockets";

  .photos{
    @extend .row;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px;
  
    .photo-item{
      background: #f9f9f9;
      border: 1px solid #f9f9f9;
      min-height: 100px;
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      flex: 0 1 20%;
      
      img{
        max-width: 100%;
      }
      
    }//photo-item
  }//photos
} //site