/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require semantic
*= require_tree .
*= require_self
*/

@import 'helpers';

body{
  display: table;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main.wrapper{
  display: table-row;
  height: 100%;
}

.masthead{
  &.segment{
    min-height: 600px;
    padding: 1em 0em;
    width: 100%;
    background: #111 image-url("bg-index.jpg") no-repeat center center !important;
    background-size: cover !important;

    .header{
      margin-top: 0.5em;
      margin-bottom: 0px;

      font-size: 6em;
      font-weight: normal;
      font-family: "Great Vibes", "Open Sans", sans-serif;

      text-shadow: 1px 10px 10px #333;
      -webkit-text-shadow: 1px 10px 10px #333;
      -moz-text-shadow: 1px 10px 10px #333;
    }
  }
}

.ui.menu.main.mobiled{
  margin-bottom: 20px;

  .row{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ui.secondary.inverted.pointing.menu,
.ui.secondary.pointing.menu{
  border: none !important;
}

.album{
  margin-bottom: 1.3em !important;
  padding-top: 1em;

  .header h2{
    font-family: "Great Vibes";
    font-size: 2em;
  }
}

.file-upload-box{
  padding: 150px 0px !important;
  background: #f2f2f2 !important;
  border: 2px dashed #aaa !important;
  font-size: 1.7em !important;
  @extend .text-center;

  table{
    margin: 0 auto !important;
  }
}

.footer.segment{
  padding: 5em 0;
}

/**
* ADMIN SCSS
*/
.admin{
  margin-top: 3em !important;
}