::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgba(0,0,0,.2);
}